<div class="cell" width="50%">
  <form id="input-form" #inputForm="ngForm" (ngSubmit)="addResult(inputForm)" novalidate>
    <div>
      <!--    <tr>-->
      <!--      <td>-->
      <!--        <fieldset>-->
      <!--          <p id="error-info">Enter your values or click on the graph</p>-->
      <!--        </fieldset>-->
      <!--      </td>-->
      <!--    </tr>-->
      <div>
        <div class="input-y">
          <fieldset id="y-field">
            <label>Input Y value</label>
            <input maxlength="10" size="22" type="text" class="form-control"
                   placeholder="Y must be in the range of (-5;3)" id="y"
                   name="y" [(ngModel)]="result.y" #y="ngModel" required/>
            <p *ngIf="!y.untouched || !yValidity" class="text-error">
              Y must be a number in the range of (-5;3)
            </p>
          </fieldset>
        </div>
      </div>
      <div>
        <div class="input-x">

          <fieldset id="x-field">

            <label>Select X value</label>
<!--            <input [(ngModel)]="result.x" #x="ngModel" name="x" required><br>-->
            <select placeholder=" " id="x" [(ngModel)]="result.x" #x="ngModel" name="x" required>
              <option name="xvalue" value="-4">-4</option>
              <option name="xvalue" value="-3">-3</option>
              <option name="xvalue" value="-2">-2</option>
              <option name="xvalue" value="-1">-1</option>
              <option name="xvalue" value="0">0</option>
              <option name="xvalue" value="1">1</option>
              <option name="xvalue" value="2">2</option>
              <option name="xvalue" value="3">3</option>
              <option name="xvalue" value="4">4</option>
            </select><br>
            <p *ngIf="!xValidity" class="text-error">
              X must be a number in the range of (-4;4)
            </p>
          </fieldset>
        </div>
      </div>
      <div>
        <div class="input-r">
          <fieldset id="r-field">

            <label>Select R value</label>
<!--            <input [(ngModel)]="result.r" #r="ngModel" name="r" (ngModelChange)="redrawResults($event)" required><br>-->
            <select placeholder=" " id="r" [(ngModel)]="result.r" #r="ngModel" name="r" (ngModelChange)="redrawResults($event)" required>
              <option name="rvalue" value="-4">-4</option>
              <option name="rvalue" value="-3">-3</option>
              <option name="rvalue" value="-2">-2</option>
              <option name="rvalue" value="-1">-1</option>
              <option name="rvalue" value="0">0</option>
              <option name="rvalue" value="1">1</option>
              <option name="rvalue" value="2">2</option>
              <option name="rvalue" value="3">3</option>
              <option name="rvalue" value="4">4</option>
            </select><br>
            <p *ngIf="!rValidity" class="text-error">
              R must be a number in the range of (-4;4)
            </p>
          </fieldset>
        </div>
      </div>
      <div>
        <div>
          <fieldset>
            <table class="comm-button-table">
              <tr>
                <td colspan="1">
                  <input id="send" class="input-button" type="submit" value="Submit"/>
                </td>
                <td colspan="1">
                  <input id="res" class="input-button" type="reset" value="Reset" (click)="clearResults()">
                </td>
              </tr>
            </table>
          </fieldset>
        </div>
      </div>
    </div>
  </form>
</div>
<div width="50%" id="graph-cell" class="cell graph" (click)="addResultFromClick($event)">
  <canvas id="graph-canvas" width="360" height="360" ></canvas>
  <svg id="graph-svg" width="360" height="360" version="1.1" xmlns="http://www.w3.org/2000/svg">
    <line class="graph-base" stroke="white" x1="180" x2="180" y1="0" y2="360" stroke-width="3"/>
    <line class="graph-base" stroke="white" x1="0" x2="360" y1="180" y2="180" stroke-width="3"/>
<!--    <rect id="section-3" class="paint" x="28" y="182" width="150" height="150" fill-opacity="0.8"/>-->
<!--    <polygon id="section-2" class="paint" points="178 178, 178 30, 30 178" fill-opacity="0.8"/>-->
<!--    <path id="section-1" class="paint" d="M182,178 L330,178   A200,200 0 0,0    182,30  z"-->
<!--          fill-opacity="0.8"/>-->
    <polygon id="section-2" class="paint" points="178.5 178.5, 178.5 30, 103 178.5" fill-opacity="0.8"/>
    <rect id="section-1" class="paint" x="181.5" y="103.5" width="150" height="75" fill-opacity="0.8"/>
    <path id="section-3" class="paint" d="M181.5,181.5 L330,181.5   A150,150 0 0,1    181.5,332  z" fill-opacity="0.8"/>
    <polygon class="graph-base" points="180 0, 185 25, 175 25" stroke="white" stroke-width="1"/>
    <polygon class="graph-base" points="360 180, 340 185, 340 175" stroke="white" stroke-width="1"/>
    <line name="mid-up" class="graph-base" stroke="white" stroke-width="2" x1="173" x2="187" y1="30"
          y2="30"/>
    <line name="mid-up" class="graph-base" stroke="white" stroke-width="2" x1="173" x2="187" y1="105"
          y2="105"/>
    <line name="mid-low" class="graph-base" stroke="white" stroke-width="2" x1="173" x2="187" y1="255"
          y2="255"/>
    <line name="mid-low" class="graph-base" stroke="white" stroke-width="2" x1="173" x2="187" y1="331"
          y2="331"/>
    <line name="left" class="graph-base" stroke="white" stroke-width="2" x1="30" x2="30" y1="173" y2="187"/>
    <line name="left" class="graph-base" stroke="white" stroke-width="2" x1="105" x2="105" y1="173"
          y2="187"/>
    <line name="right" class="graph-base" stroke="white" stroke-width="2" x1="255" x2="255" y1="173"
          y2="187"/>
    <line name="right" class="graph-base" stroke="white" stroke-width="2" x1="330" x2="330" y1="173"
          y2="187"/>
    <text class="graph-base" fill="white" x="350" y="170">X</text>
    <text class="graph-base" fill="white" x="160" y="20">Y</text>
    <text name="mid-up-text" class="graph-base" fill="white" x="193" y="35">R</text>
    <text name="mid-up-text" class="graph-base" fill="white" x="193" y="110">R/2</text>
    <text name="mid-low-text" class="graph-base" fill="white" x="193" y="260">-R/2</text>
    <text name="mid-low-text" class="graph-base" fill="white" x="193" y="335">-R</text>
    <text name="right-text" class="graph-base" fill="white" x="325" y="167">R</text>
    <text name="right-text" class="graph-base" fill="white" x="245" y="167">R/2</text>
    <text name="left-text" class="graph-base" fill="white" x="100" y="167">-R/2</text>
    <text name="left-text" class="graph-base" fill="white" x="20" y="167">-R</text>
  </svg>
</div>
